fastapi==0.115.12
uvicorn==0.34.0
asyncpg==0.30.0
orjson==3.10.16
sqlalchemy==2.0.40
redis==5.2.1
pydantic-settings==2.8.1
pydantic==2.11.3
gunicorn==23.0.0
pytest==8.3.5
pytest-mock==3.14.0
pytest-asyncio==0.26.0
httpx==0.28.1
redis==5.2.1
loguru==0.7.3
alembic==1.15.2
prometheus-client==0.21.1
locust==2.34.1.dev3
